div.profile {
    clear: both;

    img {
	float: right;
    }

    h2 {
	border-left: 5px solid #333;
	padding-left: 1em;
	border-bottom: 1px solid #333;
	background-color: $content-background-color;
    }
}
