body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    font-size: 14px;
    color: #333;
}

a {
    color: black;
}

div.header {
    margin: 0;
    background-color: black;
    border-bottom: 1px solid #888;
}

ul#navigation {
    margin: 0;
    padding: 3px 3px 10px 3px;
    list-style-type: none;
    list-style-image: none;
    border-bottom: 1px solid #888;
}
ul#navigation li {
    display: inline;
    margin: 0;
    padding: 0;
}
ul#navigation li a {
    font-weight: bold;
    font-size: 16px;
    padding: 3px 25px;
    margin: 0;
    color: #333;
    text-decoration: none;
}
ul#navigation li a:hover {
    background-color: #eee;
}

h1.title a {
    font-weight: bold;
    font-family: serif;
    font-style: italic;
    color: #ddd;
    text-decoration: none;
}

div.content, div.header h1 {
    margin: 0 auto;
    width: 800px;
    padding: 10px;
}

div.header h1 {
    height: 80px;
    background-image: url("/images/header-bg.png");
    background-repeat: no-repeat;
    background-position: right top;
}

div.content {
    background-color: white;
}

h2 {
    background-color: #eee;
    font-size: 16px;
    padding-left: 1em;
    border-radius: 5px;
}

ul.news {
    list-style-type: square;
}
