div.concert h2 {
    background-color: #ddd;
    font-size: 14px;
    color: #333;
    border-radius: 5px;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 0;
}
div.concert div.body {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
div.concert p {
    margin: 0.5em 0;
}

div.concert div.body p.date {
    font-weight: bold;
}
