<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link href="/css/default.css" rel="stylesheet" media="all">
    <link href="/css/concert.css" rel="stylesheet" media="all">
    <link href="/css/practice.css" rel="stylesheet" media="all">
    <link href="/css/profile.css" rel="stylesheet" media="all">
    <title>$if(title)$$title$ : $endif$J'sチェロアンサンブル</title>
  </head>
  <body>
    <div class="header">
      <h1 class="title"><a href="/">J's Cello Ensemble</a></h1>
    </div>

    <div class="content">
      <div>
	<ul id="navigation">
	  <li>
	    <a href="/">トップページ</a>
	  </li>
	  <li>
	    <a href="/profile.html">プロフィール</a>
	  </li>
	  <li>
	    <a href="/concert.html">演奏会情報</a>
	  </li>
	  <li>
	    <a href="/practice.html">練習日程</a>
	  </li>
	  <li>
	    <a href="/recruit.html">生徒募集</a>
	  </li>
	</ul>
      </div>

      $body$

    </div>
  </body>
</html>
